# yafa

## validate 3rd party libraries installed

In [85]:
import sys
import os
import datetime
from pathlib import Path
import importlib
from configparser import ConfigParser

import pandas as pd
import numpy as np
from IPython.display import display

import yafa
importlib.reload(yafa)
print("libraries (re)loaded: {}".format(datetime.datetime.now().isoformat()))

libraries (re)loaded: 2018-11-12T22:36:16.942607

# setup

In [86]:
def set_project_root():
    PROJECT_ROOT = Path(yafa.__file__).parents[1]
    print("set PROJECT_ROOT: {}".format(PROJECT_ROOT))
    os.chdir(PROJECT_ROOT)

# pd.options.display.max_columns = None
# pd.set_option('display.height', 1000)
# pd.set_option('display.max_rows', 500)
# pd.set_option('display.max_columns', 500)
# pd.set_option('display.width', 1000)

def setup_quandl():
    set_project_root()
    assert Path(yafa.KEYS_CFG_NAME).is_file()
    parser = ConfigParser()
    with open(yafa.KEYS_CFG_NAME) as config_file:
        parser.read_file(f=config_file)
    api_key = parser.get(section="keys", option="quandl_api_key")
    print("set ApiConfig.api_key = ***")
    q.ApiConfig.api_key = api_key
    
    q.ApiConfig.api_version = '2017-11-02'
    print("set ApiConfig.api_version = {}".format(q.ApiConfig.api_version))
    
setup_quandl()

set PROJECT_ROOT: /Users/grahamcrowell/Documents/yafa
set ApiConfig.api_key = ***
set ApiConfig.api_version = 2017-11-02

In [111]:
df0 = q.get('WIKI/AAPL',start_date = '2017-01-01')

In [112]:
df=df0
df['30MA'] = df['Adj. Close'].rolling(5).mean()
df['60MA'] = df['Adj. Close'].rolling(10).mean()

In [113]:
df['Long'] = np.where(df['30MA'] > df['60MA'],df['Adj. High'],np.NaN)
df['Short'] = np.where(df['30MA'] < df['60MA'],df['Adj. Low'],np.NaN)

In [114]:
choices = [np.NaN, df['Adj. High']]
long_condition = [np.isnan(df['Long']), (df['Long'] == df['Adj. High']) & (np.isnan(df['Long'].shift()))]
short_condition = [np.isnan(df['Short']), (df['Short'] == df['Adj. Low']) & (np.isnan(df['Short'].shift()))]
short_choices = [np.NaN, df['Adj. Low']]

In [115]:
df['LongBuyLimit'] = np.select(long_condition, choices, default=np.nan)

df[['Adj. High','30MA','60MA','Long','LongBuyLimit']]

             Adj. High        30MA        60MA        Long  LongBuyLimit
Date
2017-01-03  114.893155         NaN         NaN         NaN           NaN
2017-01-04  115.070931         NaN         NaN         NaN           NaN
2017-01-05  115.420756         NaN         NaN         NaN           NaN
2017-01-06  116.700551         NaN         NaN         NaN           NaN
2017-01-09  117.954865  115.689199         NaN         NaN           NaN
2017-01-10  117.905483  116.273887         NaN         NaN           NaN
2017-01-11  118.448689  117.010673         NaN         NaN           NaN
2017-01-12  117.826471  117.532151         NaN         NaN           NaN
2017-01-13  118.142518  117.755360         NaN         NaN           NaN
2017-01-17  118.754860  117.954865  116.822032  118.754860     118.75486
2017-01-18  119.011649  118.128691  117.201289  119.011649           NaN
2017-01-19  118.606713  118.134617  117.572645  118.606713           NaN
2017-01-20  118.962267  118.282764  117.907458  118.962267           NaN
2017-01-23  119.317820  118.488195  118.121778  119.317820           NaN
2017-01-24  118.616590  118.482269  118.218567  118.616590           NaN
2017-01-25  120.591887  118.855600  118.492146  120.591887           NaN
2017-01-26  120.927687  119.282265  118.708441  120.927687           NaN
2017-01-27  120.838799  119.667448  118.975106  120.838799           NaN
2017-01-30  120.127692  119.973619  119.230907  120.127692           NaN
2017-01-31  119.890656  120.246210  119.364239  119.890656           NaN
2017-02-01  128.878258  121.603239  120.229420  128.878258           NaN
2017-02-02  127.791844  122.904959  121.093612  127.791844           NaN
2017-02-03  127.594315  124.313346  121.990397  127.594315           NaN
2017-02-06  128.888134  126.023954  122.998786  128.888134           NaN
2017-02-07  130.458496  128.034806  124.140508  130.458496           NaN
2017-02-08  130.586890  128.684679  125.143959  130.586890           NaN
2017-02-09  131.372177  129.565661  126.235310  131.372177           NaN
2017-02-10  131.863167  130.278488  127.295917  131.863167           NaN
2017-02-13  132.736039  130.984409  128.504181  132.736039           NaN
2017-02-14  133.995752  131.788590  129.911698  133.995752           NaN
...                ...         ...         ...         ...           ...
2018-02-13  164.750000  159.576000  161.398000         NaN           NaN
2018-02-14  167.540000  161.142000  161.392000         NaN           NaN
2018-02-15  173.090000  164.676000  161.913000  173.090000     173.09000
2018-02-16  174.820000  167.968000  163.119000  174.820000           NaN
2018-02-20  174.260000  169.796000  164.555000  174.260000           NaN
2018-02-21  174.120000  171.142000  165.359000  174.120000           NaN
2018-02-22  173.950000  172.188000  166.665000  173.950000           NaN
2018-02-23  175.650000  172.701000  168.688500  175.650000           NaN
2018-02-26  179.390000  174.009000  170.988500  179.390000           NaN
2018-02-27  180.480000  175.317000  172.556500  180.480000           NaN
2018-02-28  180.615000  176.727000  173.934500  180.615000           NaN
2018-03-01  179.775000  177.207000  174.697500  179.775000           NaN
2018-03-02  176.300000  177.338000  175.019500  176.300000           NaN
2018-03-05  177.740000  176.908000  175.458500  177.740000           NaN
2018-03-06  178.250000  176.564000  175.940500  178.250000           NaN
2018-03-07  175.850000  175.946000  176.336500         NaN           NaN
2018-03-08  177.120000  176.334000  176.770500         NaN           NaN
2018-03-09  180.000000  177.088000  177.213000         NaN           NaN
2018-03-12  182.390000  178.068000  177.488000  182.390000     182.39000
2018-03-13  183.500000  178.728000  177.646000  183.500000           NaN
2018-03-14  180.520000  179.410000  177.678000  180.520000           NaN
2018-03-15  180.240000  179.752000  178.043000  180.240000           NaN
2018-03-16  179.120000  179.360000  178.224000  179.120000           NaN
2018-03-19  177.470000  178.076000  178.072000  177.470000           NaN
2018-03-20  176.800000  177.130000  177.929000         NaN           NaN
2018-03-21  175.090000  175.696000  177.553000         NaN           NaN
2018-03-22  172.680000  173.735000  176.743500         NaN           NaN
2018-03-23  169.920000  171.119000  175.239500         NaN           NaN
2018-03-26  173.100000  170.613000  174.344500         NaN           NaN
2018-03-27  175.150000  169.233000  173.181500         NaN           NaN

[308 rows x 5 columns]